body {
    margin: 0px;
}
body div.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    margin: 8px;
}
body div.container div.logo {
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 15px;
}
body div.container div.logo img {
    width: 75px;
    height: 75px;
    border-radius: 50px;
}
body div.container div.logo div.title {
    font-size: 20px;
    font-weight: bolder;
    font-family: sans-serif;
}
body div.container div.logo div.date {
    font-size: 20px;
    font-weight: bolder;
    font-family: sans-serif;
}
body div.container div.urls div.url {
    margin-bottom: 30px;
}
body div.container div.urls div.url div.url-info {
    display: flex;
    margin-left: 15px;
    margin-right: 15px;
    column-gap: 15px;
}
body div.container div.urls div.url div.url-info div.urlText {
    overflow-wrap: break-word;
    max-width: 180px;
}
body div.container div.urls div.url div.hide {
    display: none;
}
body div.container div.urls div.url div.btn {
    font-weight: bold;
    background-color: #5c5cc0;
    color: white;
    font-size: 20px;
    text-align: center;
    border-radius: 10px;
    min-height: 30px;
    max-height: 30px;
    line-height: 30px;
    font-family: sans-serif;
    padding: 5px 8px;
}
body div.toast {
    position: fixed;
    bottom: 50px;
    display: flex;
    justify-content: center;
    width: 100%;
}
body div.toast div {
    background: #808080;
    color: white;
    font-size: 25px;
    border-radius: 5px;
    padding: 5px;
    font-family: sans-serif;
    text-align: center;
    max-width: fit-content;
}
